<div class="card">
  <div class="card-block">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-11">
          <h4 class="card-title">Retours</h4>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-warning"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="serial">Serial</label>
            <input id="serial" type="text" class="form-control form-control-sm" placeholder="Serial">
            <!--[class.form-control-danger]="name.invalid && name.dirty" formControlName="serial">-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="itemId">Indentifiant du document</label>
            <input id="itemId" type="number" class="form-control form-control-sm"
                   placeholder="Identifiant du document">
            <!--[class.form-control-danger]="name.invalid && name.dirty" formControlName="serial">-->
            <div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-1 umt-button-return">
          <button type="button" class="btn btn-warning">Tout retourner</button>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
            <div class="col-12 col-md-1 icon">
              <i class="fa fa-book fa-3x text-center" aria-hidden="true"></i>
            </div>
            <div class="col-12 col-md-4">
              <h4 class="card-title">Treasure Island</h4>
              <p class="card-text">ed. 2005</p>
              <p class="card-text">J.R Stevenson</p>
            </div>
            <div class="col-12 col-md-3">
              <label class="lbl" for="exampleSelect1">Condition</label>
              <select class="form-control" id="exampleSelect1">
                <option>Good</option>
                <option>Medium</option>
                <option>Bad</option>
              </select>
            </div>
            <div class="col-12 col-md-3">
              <label class="lbl" for="exampleSelect1">Retour</label>
              <select class="form-control" id="exampleSelect2">
                <option>12/02/2016</option>
                <option>18/09/2016</option>
              </select>
            </div>
            <div class="col-12 col-md-1 button-check-in">
              <div onclick="">
                <i class="fa fa-arrow-down fa-2x "></i>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
