<div class="m-circulation">
  <div class="m-circulation-content">
    <form>
      <div class="container-fluid">
      <div class="row justify-content-between m-header-component m-header-component__container">
        <div class="col flex-first">
          <h4 class="">Retours</h4>
        </div>
        <div class="col flex-last">
          <button (click)="checkBySerialOrInternalId()" type="submit" class="btn btn-warning float-right"><i
            class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-4">
          <div class="form-group">
            <label for="serial">ISBN</label>
            <input [(ngModel)]="serial" id="serial" name="serial" type="text" class="form-control form-control-sm"
                   placeholder="Serial">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="internalId">Identifiant du document</label>
            <input [(ngModel)]="internalId" id="internalId" name="serial" type="number" class="form-control form-control-sm"
                   placeholder="Identifiant du document">
            <div>
            </div>
          </div>
        </div>
        <div class="col flex-last umt-button-return">
          <button (click)="returnAllBooks()" type="button" class="btn btn-warning float-right">Tout retourner</button>
        </div>
      </div>
        <div class="list-group">
          <div *ngFor="let loan of dataService.borrower.loans" class="list-group-item">
            <div class="col-1 icon">
              <i class="fa fa-book fa-3x text-center" aria-hidden="true"></i>
            </div>
            <div class="col-4">
              <h4 class="card-title">{{loan.item.record.title?.mainTitle}}</h4>
              <p class="card-text">{{loan.item.record.date?.publicationDate}}</p>
              <p class="card-text">{{loan.item.record.creator?.secondName}} {{loan.item.record.creator?.name}}</p>
            </div>
            <div class="col-3">
              <label class="lbl">Condition</label>
              <select (change)="saveCondition($event.target.value, loan.item.id)" [value]="loan.item.condition"
                      id="condition" class="form-control  form-control-sm custom-select">
                <option *ngFor="let condition of conditionEnum.array" [value]="condition.key">{{condition.value}}
                </option>
              </select>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="end_date">Retour</label>
                <input (change)="saveEnd($event.target.value, loan.id)" [value]="loan.end | date:'yyyy-MM-dd'"
                       id="end_date" type="date" class="form-control form-control-sm" placeholder="Date de retour"
                       required>
              </div>
            </div>
            <div class="col-1 button-check-in">
              <div>
                <i (click)="returnBook(loan)" class="fa fa-arrow-down fa-2x "></i>
              </div>
            </div>
          </div>
        </div>
    </div>
    </form>
  </div>
</div>
