.umt-setup-card {
  padding: 0;
  width: 200%;
}

.umt-form-grid{
  height: 80px
}

.umt-borrower-description{
  text-align: left;
}

.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0rem;
}

.umt-borrower-result{
  color: grey;
}

.umt-borrower-info{
  font-size: 15px;
  margin-bottom: 10px;
}

.umt-borrower-name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#content {
  margin-top: -45px;
  margin-left: 150px;
}

div .or-label{
  text-align: center;
}

.umt-grid-comment {
  word-wrap: break-word;
  padding-bottom: 30px;
}

.umt-setup-card-title, .umt-setup-card-content {
  padding: 16px 16px 0 16px;
  text-align: left;
  font-size: 22px;
}

.umt-fill-remaining {
  flex: 1 1 auto;
}

.umt-setup-card-actions {
  margin: 0 16px 16px 16px;
}

.umt-back-arrow {
  color: #ffffff;
  padding-right: 10px;
}

.form{
  padding-bottom: 10px;
}

#md-input-underline {
  position: relative;
  height: 1px;
  width: 100%;
  margin-top: 4px;
  border-top-width: 1px;
  border-top-style: solid;
}
