<div id="new-borrower" class="row justify-content-center m-circulation">
  <div class="col-12">
    <div class="m-circulation-content">
      <h5 class="m-header-component">Usager</h5>
      <div class="card-block">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <input id="borrower-id" type="number" class="form-control" placeholder="Identifiant de l'usager"
                       formControlName="borrowerId" autofocus>
              </div>
            </div>
            <div class="col-md-1">
              <p class="text-center">ou</p>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <template #customItemTemplate let-model="item" let-index="index">
                  <h5>{{model.name}} <small class="text-muted">{{model.address.email}}</small></h5>
                </template>
                <input formControlName="borrowerName"
                       [typeahead]="dataSource"
                       (typeaheadOnSelect)="typeaheadOnSelect($event)"
                       typeaheadOptionsLimit="25"
                       [typeaheadItemTemplate]="customItemTemplate"
                       typeaheadOptionField="name"
                       [typeaheadWaitMs]="300"
                       placeholder="Nom de l'usager"
                       class="form-control">
              </div>
            </div>
            <div class="col-md-1">
              <div class="text-right">
                <button type="submit" class="btn btn-warning">
                  <i class="fa fa-check fa-1x" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div id="borrower-details" class="row" *ngIf="showDetails">
          <div class="col-12">
            <h4>{{selectedBorrower.name}}</h4>
          </div>
          <div class="col-3">
            <span>Id</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.id}}</span>
          </div>
          <div class="col-3">
            <span>Email</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.address?.email}}</span>
          </div>
          <div class="col-3">
            <span>Adresse 1</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.address?.address1}}</span>
          </div>
          <div class="col-3">
            <span>Adresse 2</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.address?.address2}}</span>
          </div>
          <div class="col-3">
            <span>Code postal</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.address?.zip}}</span>
          </div>
          <div class="col-3">
            <span>Ville</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.address?.city}}</span>
          </div>
          <div class="col-3">
            <span>Quota d'emprunt</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.quota}}</span>
          </div>
          <div class="col-3">
            <span>Fin d'adhésion</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.subscriptions[selectedBorrower.subscriptions.length - 1]?.end | date}}</span>
          </div>
          <div class="col-3">
            <span>Commentaires</span>
          </div>
          <div class="col-9">
            <span class="umt-details-users">{{selectedBorrower.comment}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
