.drop-link {
  padding: 0.25rem 1rem;
  display: block;
}

#borrower-details {
  padding-top: 2em;
}

.list-group{
  position : absolute;
  z-index: 1;
  max-height: 200px;
  overflow-x: hidden;
}
.umt-details-users{
  color: grey;
}
.list-group{
  position : absolute;
  z-index: 1;
  max-height: 200px;
  overflow-x: hidden;
}
.umt-details{
  color: grey;
}
