
html,body,.container,.container .row,.container-fluid,.container-fluid .row,aside {
  height:100%;
}
.back-link {
  color: #FFFFFF;
}

/* Card */
$margin-card: 2rem;
h5.card-title {
  margin-bottom: $margin-card;
}
.umt-card-footer {
  margin-top: $margin-card;
}

/* Basic form */
.umt-form {
  max-width: 700px;
  margin: auto !important;
}

/* Switch button */
.onoffswitch {
  position: relative;
  float: right;
  width: 40px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 21px; padding: 0; line-height: 21px;
  border: 2px solid #E3E3E3; border-radius: 21px;
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: "";
  display: block;
  width: 21px;
  margin: 0;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 7px;
  right: 17px;
  border: 2px solid #E3E3E3;
  border-radius: 21px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: $primary;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: $primary;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}
