@import "../../sass/variables.scss";

$side-nav-width: 250px;

#side-nav {
  overflow: hidden;
  width: $side-nav-width;
}

#content {
  padding: 32px 32px 32px ($side-nav-width + 32px);
}

.umt-menu-item {
  text-decoration: none;

  span {
    color: $disable;
    font-weight: 300;
    margin-left: 25px;
  }
}

.umt-menu-item.umt-current-route {
  span {
    color: $primary;
  }
}

.umt-current-category {
  color: $primary;
}
