@charset "UTF-8";
@import "../../sass/components/variables";

#menu-btn {
  color: $off-black;
}

@media #{$medium-and-down} {
  #menu-btn {
    position: absolute;
    z-index: 997;
  }
}

@media #{$medium-only} {
  #menu-btn {
    margin: 20px;
  }
}

@media #{$small-and-down} {
  #menu-btn {
    margin: 16px;
  }
}

#slide-out {
  width: 230px;
}

@media #{$large-and-up} {
  #slide-out {
    top: 63px;
    z-index: 100;
  }
}

.side-nav {
  .current-route {
    color: $primary-color;
    i {
      color: $primary-color;
    }
  }
}

.side-nav {
  a {
    padding: 0 16px;
  }
}

.collapsible-body {
  a {
    font-weight: 400;
    color: $light-grey;
    padding: 0 23.5px 0 31px;
  }
}

#left-nav {
  width: 100px;
  position: absolute;
  top: 0;
}

@media #{$large-and-up} {
  #content {
    padding-left: 230px;
  }
}
