@import "../../sass/variables.scss";

#side-nav {
  overflow: hidden;
  width: 250px;
}

.umt-menu-item {
  text-decoration: none;
  margin-left: 25px;
  span {
    color: #757575;
    font-weight: 300;
  }
}

.umt-menu-item.umt-current-route {
  span {
    color: $primary;
  }
}

.umt-current-category {
  color: $primary;
}
