<aside id="left-nav">
  <ul id="slide-out" class="side-nav fixed collapsible" data-collapsible="accordion">
    <li>
      <a class="waves-effect" routerLink="/circulation" routerLinkActive="current-route" (click)="hideMenu()"><i class="material-icons">swap_horiz</i>Circulation</a>
    </li>
    <li class="no-padding">
      <a class="collapsible-header waves-effect"><i class="material-icons">people</i>Borrowers</a>
      <div class="collapsible-body">
        <ul>
          <li><a routerLink="/borrowers/new" routerLinkActive="current-route" (click)="hideMenu()">New borrower</a></li>
          <li><a routerLink="/borrowers/management" routerLinkActive="current-route" (click)="hideMenu()">Borrowers management</a></li>
        </ul>
      </div>
    </li>
    <li class="no-padding">
      <a class="collapsible-header waves-effect"><i class="material-icons">collections_bookmark</i>Cataloging</a>
      <div class="collapsible-body">
        <ul>
          <li><a routerLink="/cataloging/registration" routerLinkActive="current-route" (click)="hideMenu()">Item registration</a></li>
          <li><a routerLink="/cataloging/management" routerLinkActive="current-route" (click)="hideMenu()">Item management</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <a id="menu-btn" href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
</aside>
<section id="content">
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</section>
