<div id="content" class="grid grid--center">
  <div class="1/3--desk 1/2--lap 11/12 grid__cell">
    <md-card class="umt-setup-card">
      <span class="umt-fill-remaining"></span>
      <div class="umt-setup-card-title">
        <span>Emprunteur</span>
      </div>
      <div class="grid">
        <form [formGroup]="form">
        <md-input class="1/4 grid__cell" placeholder="Id emprunteur" type="text" formControlName="idBorrower" required>
          <label>Id emprunteur</label>
        </md-input>
        <span class="1/4 grid__cell">
          <label>ou</label>
        </span>
        <input list="borrowerNames">
        <datalist placeholder="Nom emprunteur" class="1/4 grid__cell" formControlName="borrowerNames" id="borrowerNames" ngDefaultControl>
          <option *ngFor="let borrower of borrowers" [value]="borrower.name">
          </option>
        </datalist>
        <button md-fab class="1/4 grid__cell">
          <i class="fa fa-check fa-1x" aria-hidden="true"></i>
        </button>
        </form>
      </div>
    </md-card>
  </div>
</div>
