.umt-setup-card {
  padding: 0;
  width: 99%;
}

#content {
  text-align: center;
}

.umt-setup-card-title, .umt-setup-card-content {
  padding: 16px 16px 0 16px;
  text-align: left;
}

.umt-fill-remaining {
  flex: 1 1 auto;
}

.umt-setup-card-actions {
  margin: 0 16px 16px 16px;
}

.umt-back-arrow {
  color: #ffffff;
  padding-right: 10px;
}
