<div id="content" class="grid">
  <div class="1/3--desk 1/2--lap 11/12 grid__cell">
    <md-card class="umt-setup-card">
      <span class="umt-fill-remaining"></span>
      <div class="umt-setup-card-title">
        <span>Nouvel Emprunteur</span>
      </div>
      <form [formGroup]="form" class="form">
        <div class="grid">
          <md-input class="1/3 grid__cell" placeholder="Nom" type="text" formControlName="name" required>
            <label>Nom</label>
          </md-input>
          <md-input class="1/3 grid__cell" placeholder="Email" type="email" formControlName="email" required>
            <label>Email</label>
          </md-input>
        </div>
        <div class="grid">
          <md-input class="1/3 grid__cell" placeholder="Date de naissance" type="date" formControlName="birthday" required>
            <label>Date de naissance</label>
          </md-input>
          <md-input class="1/3 grid__cell" placeholder="Téléphone" type="text" formControlName="phone" required>
            <label>Téléphone</label>
          </md-input>
        </div>
        <div class="grid">
          <md-input class="1/3 grid__cell" placeholder="Adresse 1" type="text" formControlName="address1" required>
            <label>Adresse 1</label>
          </md-input>
          <md-input class="1/3 grid__cell" placeholder="Adresse 2" type="text" formControlName="address2" required>
            <label>Adresse 2</label>
          </md-input>
        </div>
        <div class="grid">
          <md-input class="1/3 grid__cell" placeholder="Zip" type="text" formControlName="zip" required>
            <label>Zip</label>
          </md-input>
          <md-input class="1/3 grid__cell" placeholder="Ville" type="text" formControlName="city" required>
            <label>Ville</label>
          </md-input>
        </div>
        <div class="grid">
          <md-input class="1/3 grid__cell" (input)="addSubscriptionDurationToDate()" placeholder="Date de souscription" type="date" formControlName="startSubscription" required>
            <label>Date de souscription</label>
          </md-input>
          <md-input class="1/3 grid__cell" placeholder="Quota" type="number" formControlName="quota" required>
            <label>Quota</label>
          </md-input>
        </div>
        <div class="grid">
          <md-input class="1/3 grid__cell" placeholder="Contribution" type="text" formControlName="contribution" required>
            <label>Contribution</label>
          </md-input>
          <md-input class="1/3 grid__cell" placeholder="Commentaire" type="textarea" formControlName="comment">
            <label>Commentaire</label>
          </md-input>
        </div>
        <div class="grid">
          <md-checkbox class="1/3 grid__cell" formControlName="emailOptin" flex="5" align="end">
            Accepte les notifications email
          </md-checkbox>
          <span class="1/3 grid__cell">Fin de souscription {{endSubscription | date:"MM/dd/yyyy"}}</span>
        </div>
        <div class="grid">
          <md-card-actions class="1/2 grid__cell" class="umt-setup-card-actions" align="end">
            <button (click)="onSubmit(form.value)" class="md-raised md-warn" md-raised-button=""><span class="md-button-wrapper">Création</span></button>
          </md-card-actions>
        </div>
      </form>
    </md-card>
  </div>
</div>
