.l-circulation {
  width: 110%;
  background-color: $white;
  margin: 0 -15px;
  padding: 0 15px;
  text-transform: uppercase;

  .l-circulation_title {
    font-size: 1.5em;
    padding: 10px 0;
    color: $primary;
  }
}

