.l-menu {
  background-color: $primary-dark-bg;

  .l-menu-category__title {

    display: flex;

    & p {
      color: $white;
      padding-top: 1rem;
      margin-bottom: 0;
    }

    & i {
      padding: 5px;
      color: $white;
    }

  }
  .nav-link {
     color: $disable;
     padding: 0.25rem 0 0.25rem 2rem !important;
     font-size: 0.9rem;
   }
}


