.l-menu {
  background-color: $primary-dark-bg;

  .l-menu-category__title {

    display: flex;

    & p {
      color: $white;
      padding-top: 1em;
    }

    & i {
      padding: 5px;
      color: $white;
    }

  }
}
.l-menu-category {

  .umt-current {
    color: $primary;
  }
}

.nav-link {
  color: $disable;
  padding: .25em 1em;
  font-size: 0.9em;
}
