.m-circulation {
  height: auto;

  .m-circulation-content {
    background-color: $white;
  }

  .m-circulation-datatable {
    overflow: auto;
  }

  .m-circulation-table {
    margin: 0.5rem 1rem 1rem;

    th, td {
      padding: 0.4rem;
    }
  }
}
