.m-circulation{
  height: auto;

  .m-circulation-content {
    background-color: $white;
  }

  .m-circulation-datatable {
    overflow: auto;
  }

  .m-circulation-table{
    margin: 5px 10px 10px;
  }
}
