<div class="l-content">
  <h2 class="l-content_title">Usager</h2>
</div>
<div id="borrower-management" class="row justify-content-center m-circulation">
  <div class="col-12">
    <div class="m-circulation-content">
      <h5 class="m-header-component">Gestion des usagers</h5>
      <div class="card-block">
          <umt-borrower-datatable></umt-borrower-datatable>
          <umt-borrower-edit></umt-borrower-edit>
          <umt-borrower-delete></umt-borrower-delete>
          <umt-borrower-renewal></umt-borrower-renewal>
      </div>
    </div>
  </div>
</div>
