<div id="borrower-management" class="row justify-content-center">
  <div class="col-12">
    <div class="card">
      <div class="card-block">
        <h5 class="card-title">Gestion des usagers</h5>
        <table class="table table-hover table-bordered table-sm umt-datatable" *ngIf="pageable">
          <thead>
            <tr>
              <th [class.text-primary]="pageable.sort === 'id'">Id</th>
              <th class="umt-pointer" [class.text-primary]="pageable.sort === 'name'"
                  (click)="changeSort('name')">Nom
                <ng-container *ngIf="pageable.sort === 'name'">
                  <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="pageable.order === 'ASC'"></i>
                  <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="pageable.order === 'DESC'"></i>
                </ng-container>
              </th>
              <th class="umt-pointer" [class.text-primary]="pageable.sort === 'email'"
                  (click)="changeSort('email')">Email
                <ng-container *ngIf="pageable.sort === 'email'">
                  <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="pageable.order === 'ASC'"></i>
                  <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="pageable.order === 'DESC'"></i>
                </ng-container>
              </th>
              <th class="umt-pointer" [class.text-primary]="pageable.sort === 'city'"
                  (click)="changeSort('city');">Ville
                <ng-container *ngIf="pageable.sort === 'city'">
                  <i class="fa fa-chevron-down" aria-hidden="true" *ngIf="pageable.order === 'ASC'"></i>
                  <i class="fa fa-chevron-up" aria-hidden="true" *ngIf="pageable.order === 'DESC'"></i>
                </ng-container>
              </th>
              <th>Affichage</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input placeholder="identifiant" class="form-control form-control-sm umt-input-table"
                    [(ngModel)]="borrowerFilter.id" (keyup)="changeFilter()">
              </td>
              <td>
                <input placeholder="nom" class="form-control form-control-sm umt-input-table"
                    [(ngModel)]="borrowerFilter.name" (keyup)="changeFilter()">
              </td>
              <td>
                <input placeholder="email" class="form-control form-control-sm umt-input-table"
                    [(ngModel)]="borrowerFilter.email" (keyup)="changeFilter()">
              </td>
              <td>
                <input placeholder="ville" class="form-control form-control-sm umt-input-table"
                    [(ngModel)]="borrowerFilter.city" (keyup)="changeFilter()">
              </td>
              <td>
                <div class="form-group text-center">
                  <select class="form-control-sm" [(ngModel)]="pageable.size" (change)="changeFilter()">
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                  </select>
                </div>
              </td>
            </tr>
            <ng-container *ngIf="page">
              <tr *ngFor="let borrower of page.content" (click)="onCellClick()">
                <td scope="row">{{borrower.id}}</td>
                <td>{{borrower.name}}</td>
                <td>{{borrower.address.email}}</td>
                <td>{{borrower.address.city}}</td>
                <td class="text-center">
                  <span class="btn-group" dropdown>
                    <button id="edit-dropdown" class="btn btn-sm btn-secondary" dropdownToggle>Éditer</button>
                    <ul class="dropdown-menu-right" type="button" role="menu"
                        dropdownMenu aria-labelledby="edit-dropdown">
                      <li role="menuitem"><a class="dropdown-item">Réabonner</a></li>
                      <li role="menuitem"><a class="dropdown-item">Modifier</a></li>
                      <li role="menuitem"><a class="dropdown-item">Supprimer</a></li>
                    </ul>
                  </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav aria-label="Borrowers navigation" *ngIf="page && page.totalPages > 1">
          <ul class="pagination pagination-sm">
            <ng-container *ngIf="!page.first">
              <li class="page-item">
                <a class="page-link umt-pointer" (click)="changePage(0)" aria-label="First">
                  <span aria-hidden="true">&lt;&lt;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link umt-pointer" (click)="changePage(page.number - 1)" aria-label="Previous">
                  <span aria-hidden="true">&lt;</span>
                </a>
              </li>
            </ng-container>

            <ng-container *ngFor="let pageIndex of pageIndex()">
              <li class="page-item" [class.active]="isCurrentPage(pageIndex)" *ngIf="pageIndex >= 0">
                <a class="page-link umt-pointer" (click)="changePage(pageIndex)">{{pageIndex + 1}}</a>
              </li>
              <li class="page-item" *ngIf="pageIndex < 0">
                <a class="page-link umt-pointer" (click)="changePage(0)" *ngIf="pageIndex === -1">…</a>
                <a class="page-link umt-pointer" (click)="changePage(page.totalPages - 1)" *ngIf="pageIndex === -2">…</a>
              </li>
            </ng-container>
            <ng-container *ngIf="!page.last">
              <li class="page-item">
                <a class="page-link umt-pointer" (click)="changePage(page.number + 1)" aria-label="Next">
                  <span aria-hidden="true">&gt;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link umt-pointer" (click)="changePage(page.totalPages - 1)" aria-label="Next">
                  <span aria-hidden="true">&gt;&gt;</span>
                </a>
              </li>
            </ng-container>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>