<div class="m-circulation">
  <div class="m-circulation-content">
    <div class="container-fluid">
      <form>
        <div class="row justify-content-between m-header-component m-header-component__container">
          <div class="col flex-first">
            <h4>Sorties</h4>
          </div>
          <div class="col flex-last">
            <button (click)="checkout()" type="submit" class="btn btn-warning float-right" #checkoutBtn>
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title pull-left">Quota atteint</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Le quota maximal est déjà atteint pour cet utilisateur, voulez vous tout de même emprunter le document ?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="borrowOverQuota()">Emprunté</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideChildModal()">Annuler</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="internalId">Identifiant</label>
              <input [(ngModel)]="internalId" id="internalId" type="number" class="form-control form-control-sm"
                     placeholder="Identifiant du document" name="internal-id">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <template #serialNumberItemTemplate let-model="item" let-index="index">
                <h5>{{model.record.identifier.serialNumber}} <small class="text-muted">{{model.record.title.mainTitle}}</small></h5>
              </template>
              <label>ISBN</label>
              <input [(ngModel)]="serialNumber"
                     [typeahead]="dataSourceSerialNumber"
                     (typeaheadNoResults)="changeTypeaheadNoResultsSerialNumber($event)"
                     (typeaheadOnSelect)="typeaheadOnSelectSerialNumber($event)"
                     typeaheadOptionsLimit="25"
                     [typeaheadItemTemplate]="serialNumberItemTemplate"
                     typeaheadOptionField="model.record.identifier.serialNumber"
                     [typeaheadWaitMs]="300"
                     name="serial-number"
                     placeholder="serialNumber"
                     class="form-control form-control-sm">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <template #titleItemTemplate let-item="item" let-index="index">
                <span><small>{{item.internalId}}</small> {{item.record.title.mainTitle}}</span>
              </template>
              <label>Titre</label>
              <input [(ngModel)]="title"
                     [typeahead]="dataSourceTitle"
                     (typeaheadNoResults)="changeTypeaheadNoResultsTitle($event)"
                     (typeaheadOnSelect)="typeaheadOnSelectTitle($event)"
                     typeaheadOptionsLimit="25"
                     [typeaheadItemTemplate]="titleItemTemplate"
                     typeaheadOptionField="..."
                     [typeaheadWaitMs]="300"
                     typeaheadMinLength="3"
                     name="title"
                     placeholder="Title"
                     class="form-control form-control-sm">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
