<div class="card">
  <div class="card-block">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-11">
          <h4 class="card-title">Entrées</h4>
        </div>
        <div class="col-1">
          <button (click)="checkout()" type="button" class="btn btn-warning"><i
            class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <template #customItemTemplate let-model="item" let-index="index">
              <h5>{{model.record.identifier.barCode}} <small class="text-muted">{{model.record.title.mainTitle}}</small></h5>
            </template>
            <label for="internalId">Serial</label>
            <input [(ngModel)]="barCode"
                   [typeahead]="dataSource"
                   (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                   (typeaheadOnSelect)="typeaheadOnSelect($event)"
                   typeaheadOptionsLimit="25"
                   [typeaheadItemTemplate]="customItemTemplate"
                   typeaheadOptionField="model.record.identifier.barCode"
                   [typeaheadWaitMs]="300"
                   placeholder="Serial"
                   class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="internalId">Indentifiant du document</label>
            <input [(ngModel)]="internalId" id="internalId" type="number" class="form-control form-control-sm"
                   placeholder="Identifiant du document">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="title">Titre</label>
            <input [(ngModel)]="title" id="title" type="text" class="form-control form-control-sm"
                   placeholder="Titre">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
