<div class="card">
  <div class="card-block">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-11">
          <h4 class="card-title">Entrées</h4>
        </div>
        <div class="col-1">
          <button (click)="checkout()" type="button" class="btn btn-warning"><i
            class="fa fa-arrow-down" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="serial">Serial</label>
            <input autocomplete="off" #itemBox [(ngModel)]="serial" id="serial" type="text" class="form-control form-control-sm"
                   placeholder="Serial" (keyup)="search(itemBox.value)">
          </div>
          <div class="list-group" *ngIf="items != null">
            <a class="list-group-item list-group-item-action drop-link" *ngFor="let item of items | async"
               (click)="onSelect(item.id)">
              <small>{{item.record.identifier.barCode}}</small>
              <small class="text-muted">{{item.record.title.mainTitle}}</small>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="internalId">Indentifiant du document</label>
            <input [(ngModel)]="internalId" id="internalId" type="text" class="form-control form-control-sm"
                   placeholder="Identifiant du document">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="title">Titre</label>
            <input [(ngModel)]="title" id="title" type="text" class="form-control form-control-sm"
                   placeholder="Titre">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
