<div class="l-content">
  <h2 class="l-content_title">Librairie</h2>
</div>
<div id="library-configuration" class="row justify-content-center m-circulation">
  <div class="col-12">
    <div class="m-circulation-content">
      <h5 class="m-header-component">Configuration de la librairie</h5>
      <div class="card-block">
        <div class="row">
          <div class="col-10">
            <label for="library-selection">Sélection de la librairie</label>
            <select id="library-selection" (change)="onChange(libraryValue.selectedIndex)" #libraryValue
                    class=" form-control custom-select">
              <option selected></option>
              <option *ngFor='let libraryOption of libraries' [value]="libraryOption.id">{{libraryOption.name}}</option>
            </select>
          </div>
          <div class="col-2 align-self-end">
            <button type="button" class="btn btn-primary" (click)="addNewLibrary()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <hr>
        <div *ngIf="selectedLibrary">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div class="row">
              <div class="col">
                <div class="form-group" [class.has-danger]="libraryName.invalid && libraryName.dirty">
                  <label for="library-name">Nom de la bibliothèque</label>
                  <input id="library-name" type="text" class="form-control" placeholder="Nom de la bibliothèque"
                         required
                         [class.form-control-danger]="libraryName.invalid && libraryName.dirty"
                         formControlName="libraryName">
                </div>
              </div>
              <div class="col">
                <div class="form-group" [class.has-danger]="borrowDuration.invalid && borrowDuration.dirty">
                  <label for="borrow-duration">Durée d'emprunt par défaut (jours)</label>
                  <input id="borrow-duration" type="number" class="form-control"
                         placeholder="Durée d'emprunt par défaut" required
                         [class.form-control-danger]="borrowDuration.invalid && borrowDuration.dirty"
                         formControlName="borrowDuration">
                  <div class="form-control-feedback" *ngIf="borrowDuration.invalid && borrowDuration.dirty">
                    {{borrowDurationMsg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group" [class.has-danger]="subscriptionDuration.invalid && subscriptionDuration.dirty">
                  <label for="subscription-duration">Durée d'abonnement par défaut (jours)</label>
                  <input id="subscription-duration" type="number" class="form-control"
                         placeholder="Durée d'abonnement par défaut"
                         required
                         [class.form-control-danger]="subscriptionDuration.invalid && subscriptionDuration.dirty"
                         formControlName="subscriptionDuration">
                  <div class="form-control-feedback" *ngIf="subscriptionDuration.invalid && subscriptionDuration.dirty">
                    {{subscriptionDurationMsg}}
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group" [class.has-danger]="currency.invalid && currency.dirty">
                  <label for="currency">Monnaie</label>
                  <input id="currency" type="text" class="form-control" placeholder="Monnaie" required
                         [class.form-control-danger]="currency.invalid && currency.dirty" formControlName="currency">
                  <div class="form-control-feedback" *ngIf="currency.invalid && currency.dirty">
                    {{currencyMsg}}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group" [class.has-danger]="firstInternalId.invalid && firstInternalId.dirty">
                  <label for="item-start-number">Identifiant de départ</label>
                  <input id="item-start-number" type="number" class="form-control" placeholder="Identifiant de départ"
                         required
                         [class.form-control-danger]="firstInternalId.invalid && firstInternalId.dirty"
                         formControlName="firstInternalId">
                  <div class="form-control-feedback" *ngIf="firstInternalId.invalid && firstInternalId.dirty">
                    {{firstInternalIdMsg}}
                  </div>
                  <small class="form-text text-muted">
                    Il s'agit du numéro d'identification à partir duquel les nouveaux items seront enregistrés
                  </small>
                </div>
              </div>
              <div class="col">
                <div class="form-group" [class.has-danger]="shelfMarkNb.invalid && shelfMarkNb.dirty">
                  <label for="shelfmark-nb">Nombre de champs</label>
                  <input id="shelfmark-nb" type="number" class="form-control" placeholder="Nombre de champs" required
                         [class.form-control-danger]="shelfMarkNb.invalid && shelfMarkNb.dirty"
                         formControlName="shelfMarkNb">
                  <div class="form-control-feedback" *ngIf="shelfMarkNb.invalid && shelfMarkNb.dirty">
                    {{shelfMarkNbMsg}}
                  </div>
                </div>
                <div class="form-group" [class.has-danger]="defaultZ3950.invalid && defaultZ3950.dirty">
                  <label for="default-z3950">Source ISBN préférée</label>
                  <select id="default-z3950" class="form-control custom-select" required formControlName="defaultZ3950">
                    <option *ngFor="let z3950Source of z3950Sources" [value]="z3950Source.id">
                      {{z3950Source.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-warning">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

