// ---------- { COLOR }

$primary: #076A92;
$primary-dark: #27476F;
$primary-dark-bg: #1a2943;

$accent: #ECA505;

$light: #E9EEBF;

$white : #FFF;
$grey : rgb(247, 247, 247);
$grey-dark : rgb(229, 229, 229);

$warn: #f44336;
$disable: #757575;


.text-primary { color: $primary;}

.text-accent { color:$accent;}
