<div *ngIf="dataService.isRenewalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal
     #borrowerRenewalModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="renewalForm" (ngSubmit)="onRenewal(renewalForm.value)">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Renouvellement d'abonnement</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-md-6">
              <p class="disabled">{{selectedBorrower.name}}</p>
            </div>
            <div class="col-12 col-md-6">
              <p class="disabled">{{selectedBorrower.address.email}}</p>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group" [class.has-danger]="subscriptionStart.invalid && subscriptionStart.dirty">
                <label for="subscriptionStart">Début de l'abonnement</label>
                <input id="subscriptionStart" type="date" class="form-control form-control-sm"
                       placeholder="Début de l'abonnement" required formControlName="subscriptionStart"
                       [class.form-control-danger]="subscriptionStart.invalid && subscriptionStart.dirty" >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group" [class.has-danger]="contribution.invalid && contribution.dirty">
                <label for="contribution">Adhésion ({{libraryService.findLocally().currency}})</label>
                <input id="contribution" type="number" class="form-control form-control-sm" placeholder="Adhésion"
                       required [class.form-control-danger]="contribution.invalid && contribution.dirty"
                       formControlName="contribution">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" (click)="hideModal()">Annuler</button>
          <button type="submit" class="btn btn-sm btn-warning">Renouveler</button>
        </div>
      </form>
    </div>
  </div>
</div>
