@import "../../../../../sass/variables.scss";

.card-content {
  padding-top: 1em;
}

#search-message {
  color: $disable;
  text-align: center;
  margin: 30px 0;
}

#searching-records {
  margin: auto;
  width: 50px;
  height: 50px;
}

#more-records {
  margin: auto;
  width: 20px;
  height: 20px;
}

#result-list-wrapper {
  height: 85%;
  margin-bottom: 0;
  overflow: auto;
}
