@import "../../../../../sass/variables.scss";

#search-message {
  color: $disable;
  text-align: center;
  margin: 30px 0;
}

#searching-records {
  md-progress-spinner {
    margin: auto;
    width: 50px;
    height: 50px;
  }
}

#more-records {
  margin: auto;
  width: 20px;
  height: 20px;
}

.detail, .record-type-icon {
  color: $disable;
}
