@import "../../styles.scss";

.umt-login {
  background-color: $grey;
  display: block;
  height: 100%;
  padding: 5% 0 0 0;


  .umt-login-content {
    background-color: $white;
    padding: 0;

    .umt-login-title {
      background-color: $accent;
      color: $white;
      text-transform: uppercase;

      h1 {
        padding: 15px 0;
        font-size: 1.3em ;
      }
    }

    .umt-login-form {
      padding: 50px;
    }
  }
}
