<div class="m-circulation">
    <div class="m-circulation-content">
        <div class="row">
        <div class="col-12 col-md-10 col-xl-10">
          <table class="table table-bordered m-circulation-table">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Id</th>
              <th>Email</th>
              <th>Quota</th>
              <th>Fin de l'abonnement</th>
              <th>Commentaire</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{borrower?.name}}</td>
              <td>{{borrower?.id}}</td>
              <td>{{borrower?.address?.email}}</td>
              <td *ngIf="borrower?.loans === null">0/{{borrower?.quota}}</td>
              <td *ngIf="borrower?.loans !== null">{{borrower?.loans?.length}}/{{borrower?.quota}}</td>
              <td>{{borrower.subscriptions[borrower.subscriptions.length - 1]?.end | date}}</td>
              <td>{{borrower?.comment}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12 col-md-10 col-xl-2 btn-change">
          <button (click)="backToCirculationComponent()" type="button" class="btn btn-sm btn-warning">Changer</button>
        </div>
      </div>
  </div>
</div>
