<header class="l-topbar navbar navbar-inverse navbar-fixed-top">
  <div class="row align-items-center">
    <div class="col-2">
      <div class="o-logo">
        <a href="#" class="o-logo__link">
          <img class="o-logo__img" src="../assets/img/svg/logo.svg" height="40px">
        </a>
      </div>
    </div>
    <div class="l-topbar_settings navbar-toggler-right">
      <div class="l-topbar_dropdown" dropdown>
        <a dropdownToggle class="dropdown-toggle umt-top-menu-link">
          <i class="fa fa-ellipsis-v umt-top-icon" aria-hidden="true"></i>
        </a>
        <ul *dropdownMenu class="umt-dropdown dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem">
            <a routerLink="/library-configuration" class="nav-link dropdown-item umt-pointer small">
              Configuration de la bibliothèque
            </a>
            <a (click)="logout()" class="nav-link dropdown-item umt-pointer small">
              Déconnexion
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
