<nav class="l-menu-content">
  <div class="l-menu-category">

    <div class="l-menu-category__title">

      <p>
        <i class="fa fa-exchange" aria-hidden="true"></i>
        Circulation
      </p>
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/circulation" routerLinkActive="text-warning">
          Entrées/Sorties
        </a>
      </li>
    </ul>
  </div>
  <div class="l-menu-category">
    <div class="l-menu-category__title">
      <p>
        <i class="fa fa-users" aria-hidden="true"></i>
        Usager
      </p>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/borrowers/new" routerLinkActive="text-warning">
          Nouvel usager
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/borrowers/management" routerLinkActive="text-warning">
          Gestion des usagers
        </a>
      </li>
    </ul>
  </div>
  <div class="l-menu-category">
    <div class="l-menu-category__title">
      <p>
        <i class="fa fa-file" aria-hidden="true"></i>
        Fond documentaire
      </p>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cataloging/registration" routerLinkActive="text-warning">
          Nouveau document
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cataloging/management" routerLinkActive="text-warning">
          Gestion du fond
        </a>
      </li>
    </ul>
  </div>
</nav>
