<md-card-content class="umt-setup-card-content">
  <form [formGroup]="form">
    <p>
      <md-input type="number" placeholder="Nombre de champs"  class="umt-full-size"
                formControlName="shelfMarkNb" required>
        <md-hint *ngIf="shelfMarkNb.invalid && shelfMarkNb.dirty" align="start" class="umt-warn-color">
          {{shelfMarkNbMsg}}
        </md-hint>
      </md-input>
    </p>
    <p>
      <md-select placeholder="Source ISBN préférée" class="umt-full-size" formControlName="defaultZ3950">
        <md-option *ngFor="let z3950Source of z3950Sources" [value]="z3950Source.id">
          {{z3950Source.name}}
        </md-option>
      </md-select>
    </p>
    <p>
      <md-slide-toggle formControlName="useDeweyClassification">Utiliser la classification Dewey
      </md-slide-toggle>
    </p>
  </form>
</md-card-content>
<md-card-actions class="umt-setup-card-actions" align="end">
  <button md-button (click)="onSubmit(form.value)">NEXT</button>
</md-card-actions>
