@import "sass/variable/color";
@import "sass/variable/configurator";
@import "sass/variable/shadow";

@import "sass/layout/app";
@import "sass/layout/content";
@import "sass/layout/menu";
@import "sass/layout/topbar";
@import "sass/layout/one-form";

@import "sass/module/circulation";
@import "sass/module/header-component";

@import "sass/object/button";

@import "sass/common/base";
@import "sass/common/reset";
@import "sass/common/common";

@import '../node_modules/bootstrap/scss/bootstrap';



body {
  overflow: hidden;
}

.umt-input-table {
  width: auto;
}

.umt-pointer {
  cursor: pointer;
}

table.umt-datatable thead th {
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #111;
}
