<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group" [class.has-danger]="startSubscription.invalid && startSubscription.dirty">
        <label for="subscription-start">Date d'adhésion</label>
        <input id="subscription-start" type="date" class="form-control form-control-sm"
               placeholder="Date d'adhésion" required (change)="setEndSubscriptionDate()"
               [class.form-control-danger]="startSubscription.invalid && startSubscription.dirty"
               formControlName="startSubscription">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group" [class.has-danger]="quota.invalid && quota.dirty">
        <label for="quota">Quota d'emprunts</label>
        <input id="quota" type="number" class="form-control form-control-sm"
               placeholder="Quota d'emprunt" required
               [class.form-control-danger]="quota.invalid && quota.dirty" formControlName="quota">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-group" [class.has-danger]="contribution.invalid && contribution.dirty">
        <label for="contribution">Adhésion ({{library.currency}})</label>
        <input id="contribution" type="number" class="form-control form-control-sm"
               placeholder="Adhésion" required
               [class.form-control-danger]="contribution.invalid && contribution.dirty"
               formControlName="contribution">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="comment">Commentaires</label>
        <textarea id="comment" row="4" class="form-control form-control-sm" placeholder="Commentaire"
                  formControlName="comment">
        </textarea>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="" formControlName="emailOptin">
          Accepte de recevoir des emails
        </label>
      </div>
    </div>
    <div class="col-12 col-md-6">
      Fin d'adhésion : <span class="text-muted">{{endSubscription | date:"MM/dd/yyyy"}}</span>
    </div>
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-warning">Terminer</button>
  </div>
</form>

<div bsModal #confirmationModal="bs-modal" class="modal fade show" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" *ngIf="dataService.borrower">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Usager enregistré</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <span>Identifiant</span>
          </div>
          <div class="col-9">
            <span class="text-muted">{{dataService.borrower.id}}</span>
          </div>
          <div class="col-3">
            <span>Nom</span>
          </div>
          <div class="col-9">
            <span class="text-muted">{{dataService.borrower.name}}</span>
          </div>
          <div class="col-3">
            <span>Email</span>
          </div>
          <div class="col-9">
            <span class="text-muted">{{dataService.borrower.address.email}}</span>
          </div>
          <div class="col-3">
            <span>Ville</span>
          </div>
          <div class="col-9">
            <span class="text-muted">{{dataService.borrower.address.city}}</span>
          </div>
          <div class="col-3">
            <span>Début de l'adhésion</span>
          </div>
          <div class="col-9">
            <span class="text-muted">{{dataService.borrower.subscriptions[0].start}}</span>
          </div>
          <div class="col-3">
            <span>Fin de l'adhésion</span>
          </div>
          <div class="col-9">
            <span class="text-muted">{{dataService.borrower.subscriptions[0].end}}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-secondary" (click)="toSearchView()">OK</button>
      </div>
    </div>
  </div>
</div>